In [16]:
import pandas as pd
import re

## Cleaning parallel corpus
Removing duplicates, detection of words written l i k e t h i s and fixing it, removing nan rows, etc.

In [20]:
df = pd.read_csv('data/overall_80K.csv')
df

,Unnamed: 0,target,source
0,0,Та пыгрисит маим вармаль э̄рнэ поратэт ат верм...,Те мальчики не выполнят задание в назначенный ...
1,1,"Ха̄йтыматэ тӯр ва̄тан ёхтыс, вит ва̄тан ха̄йтыс.","Бегая к берегу озера пришла, к воде подбежала."
2,2,Вит са̄мыл сунсым о̄нтыс,Вода прибывала на глазах
3,3,"Атаявев, акваг лылынг тагл ворн та тотавев.","Обнюхивает нас, живыми на кладбище уносит."
4,4,"Ман ты пӣлтал, веськат хумиюв нэтхуньт ат ёр...",Мы никогда не забудем этого честного человека.
...,...,...,...
81141,2345,А̄нумн ка̄салахты аквтуп тамле о̄лнэ накыт ма̄...,"Мне кажется, что подобные случаи могут вызыват..."
81142,2346,А̄танэ нё̄тнэ̄г юил акван-атманэ.,Волосы аккуратно собраны сзади.
81143,2347,"Тох тай, культура сака тэ̄пгалан мед а̄тим.","В общем, культуры интенсивного потребления мед..."
81144,2348,"Тувыл Уэйтс ты музыкантыг ёт, Чарли Рич ос Фрэ...",Затем Уэйтс отправился на гастроли с такими му...
81145,2349,Тох ман ро̄ви та̄ра юртанын воськасаӈквет?,Но разве можно вот так просто покинуть своих д...

In [21]:
df = df.drop(columns=df.columns[0])

In [23]:
df = df.drop_duplicates()
df

,target,source
0,Та пыгрисит маим вармаль э̄рнэ поратэт ат верм...,Те мальчики не выполнят задание в назначенный ...
1,"Ха̄йтыматэ тӯр ва̄тан ёхтыс, вит ва̄тан ха̄йтыс.","Бегая к берегу озера пришла, к воде подбежала."
2,Вит са̄мыл сунсым о̄нтыс,Вода прибывала на глазах
3,"Атаявев, акваг лылынг тагл ворн та тотавев.","Обнюхивает нас, живыми на кладбище уносит."
4,"Ман ты пӣлтал, веськат хумиюв нэтхуньт ат ёр...",Мы никогда не забудем этого честного человека.
...,...,...
81141,А̄нумн ка̄салахты аквтуп тамле о̄лнэ накыт ма̄...,"Мне кажется, что подобные случаи могут вызыват..."
81142,А̄танэ нё̄тнэ̄г юил акван-атманэ.,Волосы аккуратно собраны сзади.
81143,"Тох тай, культура сака тэ̄пгалан мед а̄тим.","В общем, культуры интенсивного потребления мед..."
81144,"Тувыл Уэйтс ты музыкантыг ёт, Чарли Рич ос Фрэ...",Затем Уэйтс отправился на гастроли с такими му...
81145,Тох ман ро̄ви та̄ра юртанын воськасаӈквет?,Но разве можно вот так просто покинуть своих д...

In [94]:
def clean_text(text):
    # Remove URLs
    text = re.sub(r"http\S+", "", text)
    # Remove HTML tags
    text = re.sub(r"<.*?>", "", text)
    # Replace any kind of space (including non-breaking spaces) with a standard space
    text = re.sub(r"\s+", " ", text)
    # Strip leading/trailing spaces
    return text.strip()

In [26]:
df['target'] = df['target'].apply(clean_text)
df

C:\Users\Valer\AppData\Local\Temp\ipykernel_19524\54427298.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['target'] = df['target'].apply(clean_text)

,target,source
0,Та пыгрисит маим вармаль э̄рнэ поратэт ат верм...,Те мальчики не выполнят задание в назначенный ...
1,"Ха̄йтыматэ тӯр ва̄тан ёхтыс, вит ва̄тан ха̄йтыс.","Бегая к берегу озера пришла, к воде подбежала."
2,Вит са̄мыл сунсым о̄нтыс,Вода прибывала на глазах
3,"Атаявев, акваг лылынг тагл ворн та тотавев.","Обнюхивает нас, живыми на кладбище уносит."
4,"Ман ты пӣлтал, веськат хумиюв нэтхуньт ат ёрув...",Мы никогда не забудем этого честного человека.
...,...,...
81141,А̄нумн ка̄салахты аквтуп тамле о̄лнэ накыт ма̄...,"Мне кажется, что подобные случаи могут вызыват..."
81142,А̄танэ нё̄тнэ̄г юил акван-атманэ.,Волосы аккуратно собраны сзади.
81143,"Тох тай, культура сака тэ̄пгалан мед а̄тим.","В общем, культуры интенсивного потребления мед..."
81144,"Тувыл Уэйтс ты музыкантыг ёт, Чарли Рич ос Фрэ...",Затем Уэйтс отправился на гастроли с такими му...
81145,Тох ман ро̄ви та̄ра юртанын воськасаӈквет?,Но разве можно вот так просто покинуть своих д...

In [45]:
# \b\w\b  --> Matches any single letter (\w) that is a whole word (\b on both sides).
pattern = r'\S\s\S\s\S\s\S\s\S\s'
# Use df['target'].str.contains() to filter rows matching the pattern
df = df[~df['target'].str.contains(pattern, regex=True)]
df

,target,source
0,Та пыгрисит маим вармаль э̄рнэ поратэт ат верм...,Те мальчики не выполнят задание в назначенный ...
1,"Ха̄йтыматэ тӯр ва̄тан ёхтыс, вит ва̄тан ха̄йтыс.","Бегая к берегу озера пришла, к воде подбежала."
2,Вит са̄мыл сунсым о̄нтыс,Вода прибывала на глазах
3,"Атаявев, акваг лылынг тагл ворн та тотавев.","Обнюхивает нас, живыми на кладбище уносит."
4,"Ман ты пӣлтал, веськат хумиюв нэтхуньт ат ёрув...",Мы никогда не забудем этого честного человека.
...,...,...
81141,А̄нумн ка̄салахты аквтуп тамле о̄лнэ накыт ма̄...,"Мне кажется, что подобные случаи могут вызыват..."
81142,А̄танэ нё̄тнэ̄г юил акван-атманэ.,Волосы аккуратно собраны сзади.
81143,"Тох тай, культура сака тэ̄пгалан мед а̄тим.","В общем, культуры интенсивного потребления мед..."
81144,"Тувыл Уэйтс ты музыкантыг ёт, Чарли Рич ос Фрэ...",Затем Уэйтс отправился на гастроли с такими му...
81145,Тох ман ро̄ви та̄ра юртанын воськасаӈквет?,Но разве можно вот так просто покинуть своих д...

In [47]:
df.dropna().replace('', pd.NA).dropna() # No empty values

,target,source
0,Та пыгрисит маим вармаль э̄рнэ поратэт ат верм...,Те мальчики не выполнят задание в назначенный ...
1,"Ха̄йтыматэ тӯр ва̄тан ёхтыс, вит ва̄тан ха̄йтыс.","Бегая к берегу озера пришла, к воде подбежала."
2,Вит са̄мыл сунсым о̄нтыс,Вода прибывала на глазах
3,"Атаявев, акваг лылынг тагл ворн та тотавев.","Обнюхивает нас, живыми на кладбище уносит."
4,"Ман ты пӣлтал, веськат хумиюв нэтхуньт ат ёрув...",Мы никогда не забудем этого честного человека.
...,...,...
81141,А̄нумн ка̄салахты аквтуп тамле о̄лнэ накыт ма̄...,"Мне кажется, что подобные случаи могут вызыват..."
81142,А̄танэ нё̄тнэ̄г юил акван-атманэ.,Волосы аккуратно собраны сзади.
81143,"Тох тай, культура сака тэ̄пгалан мед а̄тим.","В общем, культуры интенсивного потребления мед..."
81144,"Тувыл Уэйтс ты музыкантыг ёт, Чарли Рич ос Фрэ...",Затем Уэйтс отправился на гастроли с такими му...
81145,Тох ман ро̄ви та̄ра юртанын воськасаӈквет?,Но разве можно вот так просто покинуть своих д...

In [48]:
df.to_csv('data/overall_80K_cleaned.csv')

## Collecting and cleaning of monolingual mansi coprus

In [87]:
horvat = pd.read_csv('data\mansi_from_horvath_mono.csv')
horvat = horvat.drop(columns=df.columns[0])

In [89]:
mns = pd.read_csv('data\luima_seripos_mansi.csv')
mns = mns.drop(columns=df.columns[0])
mns

                                                        0
0       Татьяна Петровна Конева, а̄ги о̄парищ наме Пуз...
1       Оматэ Анна Никоновна, а̄ще Пётр Ильич Пузиныг ...
2                    Татьяна иӈ ма̄ниг о̄лыс, а̄ще холас.
3           Анна Никоновна такке̄т ня̄врамыт янмалтасанэ.
4       Татьяна Саранпа̄выл школа а̄стламе юи-па̄лт 19...
...                                                   ...
147361  1998 та̄лт Йошкар-Ола ӯст «Синтаксис имени сущ...
147362  2004 та̄лт Нина Алексеевна Ханты-Мансийск ӯсн ...
147363  Тыт тав о̄с ма̄ньщи ос ханты ла̄тӈыг ма̄гыс са...
147364  Ма̄н Нина Алексеевна Лыскова ка̄стылӯв, Лёва п...
147365  «Лӯима̄ сэ̄рипос» ос «Ханты ясаӈ» газетаг ва̄р...

[147366 rows x 1 columns]

In [90]:
mns = pd.concat([mns, horvat], ignore_index=True)

In [91]:

mns = mns.dropna().replace('', pd.NA).dropna() 
mns = mns.drop_duplicates()
mns = mns[mns.columns[0]]
mns

0         Татьяна Петровна Конева, а̄ги о̄парищ наме Пуз...
1         Оматэ Анна Никоновна, а̄ще Пётр Ильич Пузиныг ...
2                      Татьяна иӈ ма̄ниг о̄лыс, а̄ще холас.
3             Анна Никоновна такке̄т ня̄врамыт янмалтасанэ.
4         Татьяна Саранпа̄выл школа а̄стламе юи-па̄лт 19...
                                ...
203197    «Искусство Центр» ёмщакв рӯпитан ма̄гыс округ...
203199     Тот пуссын аквъёт хӯрумса̄т хус хо̄тпа рӯпиты.
203201    Акв колнакт ма̄нь пӯльница рӯпиты ос э̄лаль ...
203202    Ня̄врамыт тотыглан ма̄гыс ма̄шинат о̄ньще̄гыт,...
203204    Школат китыглахтэ̄гыт, хоты ня̄врам номтыӈыщ х...
Name: 0, Length: 184932, dtype: object

In [95]:
mns = mns.apply(clean_text)

In [96]:
mns = mns[mns.str.len() >= 20]
mns.tail(20)

203168    Тамле школат ханищтахтын а̄гитпыгыт халанылт в...
203170    О̄выл ва̄рмаль ня̄врамыт о̄лнэхӯлнэ нак ос ис...
203174    Тувыл тот та̄н колледж а̄стланэ̄ныл юипа̄лт та...
203176    «Искусство Центр» колт ня̄врамыт са̄ӈквылтаӈкв...
203177              Тот йӣквнэ ос э̄ргын яныг колнак о̄лы.
203178    Ханищтап кол хӯрум яныг кол щирыл акв ляпат у...
203180    Акв колныл мо̄т колн лапва̄рим ӯнсах хосыт ё̄...
203182    Ханты-Мансийск ӯст кол ат о̄щнэ учительхо̄тпа...
203183                          Тот яныг тэ̄нэ кол рӯпиты.
203185    Ты коныпал «Искусство Центр» колн Ханты-Мансий...
203187    А̄гитпыгыт тот са̄всыр са̄ӈквылтан утыл са̄ӈкв...
203188    Ня̄врам баяныл ёнгуӈкве тув ёхты ке, тав школа...
203189    Йӣквнэ колнакт ня̄врамыт ос са̄всыр йӣквнэ т...
203191    Мо̄лты та̄л а̄стлам акв а̄ги Саранск ӯс театр...
203192    Акв пыг ос Астрахань ӯс театрын йӣквуӈкве ву...
203197    «Искусство Центр» ёмщакв рӯпитан ма̄гыс округ...
203199     Тот пуссын аквъёт хӯрумса̄т хус хо̄тпа рӯпиты.
203201    Акв колнакт ма̄нь пӯльница рӯпиты ос э̄лаль ...
203202    Ня̄врамыт тотыглан ма̄гыс ма̄шинат о̄ньще̄гыт,...
203204    Школат китыглахтэ̄гыт, хоты ня̄врам номтыӈыщ х...
Name: 0, dtype: object

In [101]:
mns.to_csv('data/mansi.csv')

## Dictionary merge

In [106]:
dict1 = pd.read_csv('data/dataset_dict1.csv', sep='|')
dict2 = pd.read_csv('data/dataset_dict2.csv', sep='|')

dictionary = pd.concat([dict1, dict2], ignore_index=True)
dictionary = dictionary.drop(columns=df.columns[0])

In [107]:
dictionary

                     target          source comment
0      аквъёт э̄ргын ма̄хум             хор     NaN
1                  агтуӈкве          верить     NaN
2                  агтуӈкве        поверить     NaN
3               аквъюипа̄лт          подряд     NaN
4               аквъюипа̄лт  друг за другом     NaN
...                     ...             ...     ...
11502                 я̄тил        любезный     NaN
11503                  ятри           косач   птица
11504                 я̄хул           чебак     NaN
11505                  яхам          духота     NaN
11506                  яхам           душно     NaN

[11507 rows x 3 columns]

In [108]:
dictionary.drop_duplicates()

                     target          source  comment
0      аквъёт э̄ргын ма̄хум             хор      NaN
1                  агтуӈкве          верить      NaN
2                  агтуӈкве        поверить      NaN
3               аквъюипа̄лт          подряд      NaN
4               аквъюипа̄лт  друг за другом      NaN
...                     ...             ...      ...
11500              я̄смилыӈ       полосатый  о ткани
11502                 я̄тил        любезный      NaN
11503                  ятри           косач    птица
11505                  яхам          духота      NaN
11506                  яхам           душно      NaN

[9745 rows x 3 columns]

In [109]:
dictionary.to_csv('data/dict.csv')